.footer {
    background-color: rgba(54, 46, 38, 1);
    color: var(--Creme, #f2e0bf);
    padding: 2.5rem 2.5rem;
  }
  
  .footerContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .subscribeSection {
    flex: 1 1 15rem;
  }
  
  .footerLogo {
    font: 700 24px/1 Inter, sans-serif;
    letter-spacing: 0.1rem;
  }
  
  .subscribeTitle {
    font: 500 20px/1.4 Poppins, sans-serif;
    margin-top: 1rem;
  }
  
  .subscribeText {
    font: 400 16px Poppins, sans-serif;
    margin-top: 1rem;
  }
  
  .subscribeForm {
    display: flex;
    margin-top: 1rem;
    border: 2px solid rgba(242, 224, 191, 1);
    border-radius: 4px;
    max-width: 20rem;
  }
  
  .subscribeInput {
    flex-grow: 1;
    background: transparent;
    border: none;
    padding: 12px 16px;
    color: var(--Creme, #f2e0bf);
    font: 400 16px Poppins, sans-serif;
  }
  
  .subscribeButton {
    background: transparent;
    border: none;
    padding: 12px;
    cursor: pointer;
  }
  
  .sendIcon {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .footerSection {
    flex: 0.9 0.9 5rem;
  }
  
  .sectionTitle {
    font: 500 20px/1.4 Poppins, sans-serif;
    margin-bottom: 24px;
  }
  
  .sectionList {
    list-style-type: none;
    padding: 0;
  }
  
  .sectionItem {
    font: 400 16px Poppins, sans-serif;
    margin-bottom: 1rem;
  }
  
  .socialSection {
    flex: 1 1 0.2rem;
  }
  
  .socialTitle {
    font: 500 20px/1.4 Poppins, sans-serif;
    margin-bottom: 1.5rem;
  }
  
  .socialIcons {
    display: flex;
    gap: 1.5rem;
  }
  
  .socialLink {
    display: inline-block;
  }
  
  .socialIcon {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  @media (max-width: 991px) {
    .footer {
      padding: 40px 20px;
    }
  
    .footerContent {
      flex-direction: column;
    }
  }